@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Обнуление стилей списка */
ul,
ol {
  list-style: none;
}

/* Обнуление стилей таблиц */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Обнуление стилей для якорных тегов (ссылок) */
a {
  text-decoration: none;
  color: inherit;
}

/* Обнуление стилей для полей ввода и кнопок, чтобы они не наследовали стили интерфейса пользователя */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
}

/* Обнуление стилей для изображений и объектов, чтобы они не выходили за рамки своих контейнеров */
img,
video,
object,
iframe {
  max-width: 100%;
  height: auto;
}

/* Обнуление стилей для заголовков (h1-h6), чтобы управлять их стилями независимо */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

p {
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.todo {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}

.header {
  width: 100%;
  padding: 15px 0 15px 0;
}
.header .header-top {
  display: flex;
  justify-content: space-between;
}

.count {
  display: flex;
  justify-content: space-between;
}

.footer {
  width: 100%;
  height: 100%;
}
.footer .footer-buttons {
  display: flex;
  justify-content: space-between;
}

.todo-button {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  margin: 5px;
}
.todo-button:hover {
  cursor: pointer;
}

.todo-imput {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
}

.todo-item {
  display: flex;
  width: 100%;
  border: 1px solid black;
  border-radius: 25px;
  padding: 15px;
  margin-top: 10px;
  background-color: antiquewhite;
  align-items: center;
}
.todo-item .item-left {
  display: flex;
  width: 85%;
}
.todo-item .item-left .todo-number {
  margin-right: 5px;
  align-self: center;
}
.todo-item .item-right {
  display: flex;
  width: 15%;
  justify-content: space-between;
}

.item-title {
  font-size: 1em;
  padding: 5px;
}
.item-title__strikethrough {
  text-decoration: line-through;
}

.item-checkbox {
  align-self: center;
  width: 1em;
  height: 1em;
}